.item {
  background: linear-gradient(to top right, #1b1e27 0%, #1f2a40 100%);
  list-style-type: none;
  width: 200px;
  height: 120px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.item:hover {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.2), 0 15px 22px 2px rgba(0, 0, 0, 0.14), 0 6px 28px 5px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-delay: initial;
}

.item-text {
  background: linear-gradient(to top right, rgb(49, 56, 71) 0%, rgb(69, 76, 91) 100%);
  margin-top: 0px;
  margin-bottom: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
}

.item-unordered-list {
  padding-left: 0;
  column-count: 2;
  margin-left: 10px;
  margin-right: 10px;
}

.item-attributes {
  list-style-type: none;
  margin-top: 2px;
}

.item-value {
  text-align: right;
  font-family: monospace, monospace;
  font-size: small;
  width: 30px;
  float: left;
}

.item-name {
  font-family: monospace, monospace;
  font-size: small;
  width: 46px;
  float: right;
}
